@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

:root {
  font-family: Michroma, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #d9d9d9;
}
#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-height: 120vh;
  box-sizing: border-box;
  background: #d9d9d9;
}

.all-tabs {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: inherit;
  margin-top: 30px;
}
.all-tabs > .tab {
  display: flex;
  position: relative;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 90px;
  width: 100%;
}
.tab {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: rgba(255, 168, 168, 0.41);
  border: #f5e8e8 solid 1px;
  border-radius: 10px;
}
.tab:hover {
  background-color: rgba(255, 168, 168, 0.073);
  border: #f5e8e87a solid 1px;
  cursor: pointer;
}
.tab:active {
  scale: 0.8;
}
.active-tab {
  border: 3px solid black;
}
.inactive-tab {
  background-color: #f5f5f5;
  color: #333;
}
.tab-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.greeting,
.tab-list,
.todo-title,
.products-title,
.accordion-item > h2,
.comment-board > h2 {
  /* width: 548px; */
  width: 540px;
  height: 94px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #b19e9e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.greeting-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.what-name {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.what-name > div > input {
  margin-bottom: 15px;
}
.profile-picture {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  box-shadow: inset -10px -10px 10px 20px white;
}
.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: fit-content;
  max-width: 477.11px;
  max-height: 214.885px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.38);
}
.user-profile {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 540px;
  border-radius: 10px;
  background: #ffffffe0;
  box-shadow: 0 0 5px 10px #ffffffe0;
  gap: 32px;
}
.like-button {
  border: 1px solid transparent;
  height: 50px;
  width: 200px;
  margin-top: 35px;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 10px;
  background: #c7b1b1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#heart {
  scale: 0.2;
  width: 89px;
  height: 85px;
}
#heartMouseDown {
  scale: 0.4;
  width: 89px;
  height: 85px;
}
button:hover {
  background: #998989;
}
button:active {
  scale: 0.8;
}
input {
  accent-color: purple;
}
.todo {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo label:hover {
  color: #998989;
}

.completed {
  text-decoration: line-through;
}

.product-list {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product {
  width: 540px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: fit-content;
  justify-content: center;
}
.product:hover {
  background: #b19e9e5f;
}
.accordion-item {
  display: flex;
  flex-direction: column;
  width: 540px;
  cursor: pointer;
  overflow: hidden;
}
.accordion-item h2:active {
  scale: 0.8;
}

.hidden {
  max-height: 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.visible {
  opacity: 1;
  max-height: 100%;
  transition: opacity 0.3s ease-in-out;
  overflow: visible;
}

.comment-list {
  border-radius: 10px;
  /* background: rgba(255, 168, 168, 0.41); */
  padding: 23px;
  background: rgba(255, 168, 168, 0.41);
  box-shadow: 0 0 5px 10px rgba(255, 168, 168, 0.41);
}
.comment-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-count {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
}
.comment {
  width: 540px;
  display: flex;
  flex-direction: row;
  padding: 23px;
  border-radius: 10px;
  gap: 15px;
  margin-bottom: 0.3em;
  border: 1px solid #0000005b;
  background: rgba(217, 217, 217, 0.3);
  text-overflow: inherit;
}
.comment-username {
  color: #000;
  text-align: center;
  font-family: Michroma;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  min-width: 190px;
}

/* Dark Theme */

.theme-dark body {
  background: #333;
}
.theme-dark {
  background: #333;
  color: #fff;
}

.theme-dark #root {
  background: #333;
}

.theme-dark .tab {
  color: grey;
  background-color: rgba(0, 0, 0, 0.4);
  border: #000 solid 1px;
}

.theme-dark .tab:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Toggle Button for Dark Theme */
.theme-toggle button {
  border-radius: 8px;
  border: none;
  font: inherit;
  background: #5c4e4e5d;
  color: #ffffff62;
}

.theme-toggle button:hover {
  background: #ccc;
}

.theme-dark .greeting,
.tab-list,
.todo-title,
.products-title,
.accordion-item > h2,
.comment-board > h2 {
  background: #5c4e4e5d;
}

.theme-dark .profile-details {
  background: rgba(67, 63, 63, 0.829);
  color: #000;
}
.theme-dark .user-profile {
  background: #111010e0;
  box-shadow: 0 0 5px 10px #111010e0;
  gap: 32px;
}

.theme-dark .profile-picture {
  box-shadow: inset -10px -10px 10px 20px rgb(0, 0, 0);
}
.theme-dark .like-button {
  background: #383030;
  color: #998989;
}
.theme-dark .like-button:hover {
  background: #564b4b;
  color: #716666;
}

.theme-dark .comment-list {
  background: rgba(255, 168, 168, 0.089);
  box-shadow: 0 0 5px 10px rgba(255, 168, 168, 0.089);
}

.theme-dark .comment {
  border: 1px solid #0000005b;
  background: rgba(54, 38, 38, 0.284);
  color: rgba(188, 172, 172, 0.873);
  text-overflow: inherit;
}
.comment-username {
  color: #ffffff5b;
}
